.detail-container {
  margin: 10px auto;
  height: auto;
  display: flex;
  box-shadow: 0px 2px 7px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 2px 7px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 2px 11px -4px rgb(224, 225, 231);
}

.detail-container img {
  width: 300px;
  padding: 10px;
}
.detail-info {
  margin: 20px;
}
.detail-info button,
.restock-button {
  padding: 10px 50px;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 30px;
  background-color: rgb(129, 129, 107);
  color: aliceblue;
}
.restock-container {
  text-align: center;
  margin: 0 auto;
  height: auto;
  box-shadow: 0px 2px 7px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 2px 7px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 2px 11px -4px rgb(224, 225, 231);
}

.restock-quantity {
  width: 80px;
  font-size: 22px;
  text-align: center;
  padding: 3px 0;
  padding-left: 3px;
  font-weight: bold;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .detail-container {
    line-height: auto;
    display: grid;
    width: 95%;
    text-align: center;
  }
  .detail-container img {
    width: 95%;
  }
  .detail-container h3 {
    font-size: 1.2em;
  }
  .detail-container h5 {
    font-size: 01em;
  }
}
