.inventories h1 {
  text-align: center;
}
.inventory-product {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 576px) {
  .inventory-product {
    grid-template-columns: repeat(1, 1fr);
  }
}
